/* general styling start */

:root {
    --black: #000000;
    --white: #ffffff;
    --home-blue: #0085c9;
    --blue: #007BC1;
    --dark-blue: #004A75;
    --orange: #FF8000;
    --dark-orange: #CC6600;
    --yellow: #F8A21E;
    --dark-grey: #2F2800;
    --grey: #AAAAAA;
    --smoke-grey: #E5E5E5;
    --dark-purple: #100F25;
    --light-purple: #96A7D5;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: auto;
}

body {
    font-family: var(--font-family-sans-serif);
    background-color: var(--smoke-grey);
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1366px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

h1,
h2,
h3,
p {
    font-weight: normal;
}

p {
    line-height: 1.5em;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


/* general styling end */


/* column styling start */

.col-12,
.col-6,
.col-lg-4 {
    position: relative;
    width: 100%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 480px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 961px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}


/* column styling end */


/* button styling start */

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    border-radius: 0.2rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn:hover {
    cursor: pointer;
}

.btn-home {
    width: 240px;
    margin: 1.5rem;
    line-height: 2.5;
    text-transform: uppercase;
    color: var(--white);
    background-color: transparent;
    border: 2px solid transparent;
    border-color: var(--white);
}

.btn-home:hover {
    color: var(--dark-blue);
    background-color: var(--white);
    border-color: var(--white);
}

.btn-notification {
    width: 80px;
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid transparent;
}

.btn-notification:hover {
    background-color: var(--dark-blue);
}

.btn-modal {
    color: var(--white);
    background-color: var(--yellow);
    border: 2px solid transparent;
}

.btn-modal:hover {
    background-color: var(--dark-orange);
}


/* button styling end */


/* card styling start */

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid;
    border-color: var(--grey);
    color: var(--dark-grey);
    padding-bottom: 0.5rem;
    margin: 20px;
    flex: 0 0 100%;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.card-text:last-child {
    margin-bottom: 0;
}


/* card styling end */


/* header styling start */

.header {
    width: 100%;
    margin: 0px auto;
    padding: auto;
    height: 10%;
    line-height: 10%;
}

.header img {
    height: 50px;
}

.header-container {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
}


/* header styling end */


/* home styling start */

.home {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.home::before {
    background-image: url('../images/work-desk-dustin-lee.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

.home::after {
    background-color: var(--dark-blue);
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: overlay;
}

.hero-container {
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
    height: 90%;
}

.hero-message {
    color: var(--white);
    min-width: 100%;
    min-height: 12em;
    position: relative;
}

.hero-message::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 12em;
    z-index: -1;
}

@media(min-width:1024px) {
    .hero-message {
        min-width: 50%;
        min-height: 12em;
    }
    .hero-message::before {
        margin-left: 25%;
        min-width: 50%;
        min-height: 12em;
    }
}

.hero-title,
.hero-sub-title {
    width: 100%;
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.hero-title {
    font-size: 2.5em;
}

.hero-sub-title {
    font-size: 1.75em;
    font-weight: bold;
}

.hero-text {
    font-size: 1.5em;
    margin: 0 0 0.10rem 0;
}

@media(min-width:961px) {
    .hero-text {
        font-size: 1.25em;
    }
}


/* highlights styling start */

.highlights {
    padding: 3rem 1rem;
}

@media (min-width: 480px) {
    .highlights {
        padding: 3rem 2rem;
    }
}

@media (min-width: 961px) {
    .highlights {
        padding: 3rem 5rem;
    }
}

@media (min-width: 1200px) {
    .highlights {
        padding: 3rem 20rem;
    }
}

.highlights-title,
.highlights-subtitle {
    color: var(--dark-grey);
    text-align: center !important;
}

.highlights-title {
    margin-bottom: 1rem;
    font-size: 1.75em;
}

.highlights-subtitle {
    font-size: 1.25rem;
}

.highlights-content {
    padding: 0 0 3rem 0;
}

h2.card-title .fas {
    color: var(--grey);
    font-size: 2rem;
}


/* highlights styling end */


/* footer styling start */

.footer {
    background-color: var(--dark-purple);
    padding: 2.5rem;
}

.footer-text {
    color: var(--light-purple);
    font-size: 0.875rem;
}


/* footer styling end */


/* notification panel styling start */

.notification {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--smoke-grey);
    border-bottom: 1px solid var(--grey);
    z-index: 999;
}

.notification-container {
    max-width: 720px;
}

.notification-row {
    padding: 1rem;
}

.notification-text {
    max-width: 600px;
    margin-bottom: 1rem;
}

@media (min-width: 711px) {
    .notification-text {
        margin-bottom: 0;
    }
}


/* notification panel styling end */


/* modal styling start */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1s linear;
}

.modal.in {
    opacity: 1;
    z-index: 1;
}

.modal.in .animated-from-bottom {
    transform: translateY(0);
}

.animated-from-bottom {
    transform: translateY(200%);
}

.close {
    color: white;
    float: right;
    margin: 0.5rem 0.75rem 0.75rem 0.75rem;
}

.close:hover {
    cursor: pointer;
}

.modal-content {
    position: fixed;
    max-width: 640px;
    bottom: 0;
    background-color: rgba(0, 123, 193, 0.9);
    transition: all 1s linear;
    color: var(--white);
}

.modal-body {
    padding: 28px;
}

.modal-title,
.modal-text {
    margin-bottom: 1rem;
}

.modal-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 640px) {
    .modal-input {
        max-width: 448px;
        margin-right: 1rem;
        margin-bottom: 0;
    }
}


/* modal styling end */